# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

.gcloudignore
.git
.gitignore
.github/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.env
.env.local
.DS_Store
docs/
images/
data/
demo/
*.md
LICENSE
setup.sh
startup.sh 